html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.flex-form>* {
    border: 0;
    padding: 10px;
    background: white;
    line-height: 50px;
    font-size: 20px;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
}

.flex-form>*:last-child {
    border-right: 0;
}

input[type="text"] {
    width: 100%;
}

input[type="submit"] {
    background: mediumorchid;
    color: white;
    border: 0;
    cursor: pointer;
}

/* flex container */
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-form {
    display: flex;
    border: 20px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}