.box {
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.box1 {
    background-color: aquamarine;
}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: lightcoral;
}

.box4 {
    background-color: lightskyblue;
}

.box5 {
    background-color: green;
}

.box6 {
    background-color: orange;
}

.box7 {
    background-color: purple;
}

.box8 {
    background-color: brown;
}

.box9 {
    background-color: gray;
}

.box10 {
    background-color: black
}


.container {
    display: flex;
    justify-content: space-between;
    border: 10px solid mistyrose;
    flex-direction: column;
    min-height: 100vh;
}